@{
    ViewData["Title"] = "Home Page";
}

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <!-- header and footer bar go here-->
    <div class="header header-demo header-logo-center  position-fixed d-flex justify-content-around  ">
        <partial name="~/Views/Shared/_Navbar.cshtml" />

    </div>


    <div id="footer-bar" class="footer-bar-5">
    </div>

    <div class="page-content">

        <!-- Homepage Slider-->
        <div class="single-slider-boxed text-center owl-no-dots owl-carousel " style="margin-top: 5rem;">
            <div class="card rounded-l shadow-l" data-card-height="320">
                <div class="card-bottom">
                    <h1 class="font-24 font-700">Meet Azures</h1>
                    <p class="boxed-text-xl">
                        Azures brings beauty and colors to your Mobile device with a stunning user interface to match.
                    </p>
                </div>
                <div class="card-overlay bg-gradient-fade"></div>
                <div class="card-bg owl-lazy" data-src="https://localhost:44319/images/pictures/17m.jpg"></div>
            </div>
            <div class="card rounded-l shadow-l" data-card-height="320">
                <div class="card-bottom">
                    <h1 class="font-24 font-700">Beyond Powerful</h1>
                    <p class="boxed-text-xl">
                        Azures is a Mobile Web App Kit, fully featured, supporting PWA and Native Dark Mode!
                    </p>
                </div>
                <div class="card-overlay bg-gradient-fade"></div>
                <div class="card-bg owl-lazy" data-src=@Url.Content("~/images/pictures/8m.jpg")></div>
            </div>
            <div class="card rounded-l shadow-l" data-card-height="320">
                <div class="card-bottom">
                    <h1 class="font-24 font-700">A-Level Quality</h1>
                    <p class="boxed-text-xl">
                        We build custom, premium products, that are easy to use and provide all features for you!
                    </p>
                </div>
                <div class="card-overlay bg-gradient-fade"></div>
                <div class="card-bg owl-lazy" data-src=@Url.Content("~/images/pictures/14m.jpg")></div>
            </div>
        </div>
        <div class="content mt-0" id="login">
            <div class="row">
                <div class="col-6">
                    <a asp-action="LoginAsSeller" asp-controller="Account" class="btn btn-full btn-sm rounded-s text-uppercase font-900 shadow-xl bg-highlight">Login as a seller</a>
                </div>
                <div class="col-6">
                    <a asp-action="LoginAsBuyer" asp-controller="Account" class="btn btn-full btn-border btn-sm rounded-s text-uppercase font-900 shadow-l
                       border-highlight color-highlight">Login as a buyer</a>
                </div>
            </div>
        </div>

        <div class="content mb-3">
            <h5 class="float-left font-16 font-500">Products we Love</h5>
            <a class="float-right font-12 color-highlight mt-n1" href="#">View All</a>
            <div class="clearfix"></div>
        </div>

        <div class="double-slider owl-carousel owl-no-dots text-center">


            <div class="item bg-theme pb-3 rounded-m shadow-l">
                <div data-card-height="200" class="card mb-2 bg-11">
                    <h5 class="card-bottom color-white mb-2">Bars Mobile</h5>
                    <div class="card-overlay bg-gradient opacity-70"></div>
                </div>
                <p class="mb-3 pl-2 pr-2 pt-2 font-12">
                    Modern sidebars and a very intuitive.
                </p>
                <a asp-action="Cart" asp-controller="Store" class="btn btn-xs bg-highlight btn-center-xs rounded-s shadow-s text-uppercase font-900">View</a>
            </div>
        </div>




        <!-- footer and footer card-->
        <div id="footer-bar" class="footer-bar-5">
            <a asp-action="ShowSellerPanel" asp-controller="Account" id="pages"><i data-feather="file" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Pages</span></a>
            <a asp-action="ShowBuyerPanel" asp-controller="Account" id="products"><i data-feather="file" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Seller Products</span></a>
        </div>

    </div>
    <!-- end of page content-->


    <div id="menu-share"
         class="menu menu-box-bottom menu-box-detached rounded-m"
         data-menu-load="menu-share.html"
         data-menu-height="420"
         data-menu-effect="menu-over">
    </div>

    <div id="menu-highlights"
         class="menu menu-box-bottom menu-box-detached rounded-m"
         data-menu-load="menu-colors.html"
         data-menu-height="510"
         data-menu-effect="menu-over">
    </div>

    <div id="menu-main"
         class="menu menu-box-right menu-box-detached rounded-m"
         data-menu-width="260"
         data-menu-load="menu-main.html"
         data-menu-active="nav-welcome"
         data-menu-effect="menu-over">
    </div>

    <!-- Be sure this is on your main visiting page, for example, the index.html page-->
    <!-- Install Prompt for Android -->
    <div id="menu-install-pwa-android" class="menu menu-box-bottom menu-box-detached rounded-l"
         data-menu-height="350"
         data-menu-effect="menu-parallax">
        <div class="boxed-text-l mt-4">
            <img class="rounded-l mb-3" src="app/icons/icon-128x128.png" alt="img" width="90">
            <h4 class="mt-3">Azures on your Home Screen</h4>
            <p>
                Install Azures on your home screen, and access it just like a regular app. It really is that simple!
            </p>
            <a href="#" class="pwa-install btn btn-s rounded-s shadow-l text-uppercase font-900 bg-highlight mb-2">Add to Home Screen</a><br>
            <a href="#" class="pwa-dismiss close-menu color-gray2-light text-uppercase font-900 opacity-60 font-10">Maybe later</a>
            <div class="clear"></div>
        </div>
    </div>

    <!-- Install instructions for iOS -->
    <div id="menu-install-pwa-ios"
         class="menu menu-box-bottom menu-box-detached rounded-l"
         data-menu-height="320"
         data-menu-effect="menu-parallax">
        <div class="boxed-text-xl mt-4">
            <img class="rounded-l mb-3" src="app/icons/icon-128x128.png" alt="img" width="90">
            <h4 class="mt-3">Azures on your Home Screen</h4>
            <p class="mb-0 pb-3">
                Install Azures on your home screen, and access it just like a regular app.  Open your Safari menu and tap "Add to Home Screen".
            </p>
            <div class="clear"></div>
            <a href="#" class="pwa-dismiss close-menu color-highlight font-800 opacity-80 text-center text-uppercase">Maybe later</a><br>
            <i class="fa-ios-arrow fa fa-caret-down font-40"></i>
        </div>
    </div>


</div>
@section Scripts{ 
<script>
    if (sessionStorage.getItem("Login") == "yes" && localStorage.getItem("roleName") == "Buyer") {
        var element = document.getElementById('login');
        element.style.visibility = 'hidden';
        var element = document.getElementById('pages');
        element.style.visibility = 'hidden';
    } else if (sessionStorage.getItem("Login") == "yes" && localStorage.getItem("roleName") == "SellerAdmin") {
        var element = document.getElementById('login');
        element.style.visibility = 'hidden';
        var element = document.getElementById('products');
        element.style.visibility = 'hidden';
    } else if (sessionStorage.getItem("Login") == undefined) {
        var element = document.getElementById('pages');
        element.style.visibility = 'hidden';
        var element = document.getElementById('products');
        element.style.visibility = 'hidden';
    }
</script>
}