@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="header header-demo header-logo-center  position-fixed d-flex justify-content-around  ">
    <partial name="~/Views/Shared/_Navbar.cshtml" />

</div>
<div class="card card-style " style="margin-top: 5rem;">
    <!-- header and footer bar go here-->
    <div class="page-content">
        <div class="page-title page-title-small">
            <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Buyer Panel</h2>
            <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="images/avatars/5s.png"></a>
        </div>
        <div class="card header-card shape-rounded" data-card-height="150">
            <div class="card-overlay bg-highlight opacity-95"></div>
            <div class="card-overlay dark-mode-tint"></div>
            <div class="card-bg preload-img" data-src="images/pictures/20s.jpg"></div>
        </div>
        <div class="ml-3 mb-3 mt-3">

            <div id="product" style="height: 350px; overflow: scroll; ">
            </div>

            <div class="mt-5 mr-3">
                <a asp-action="Storecart" asp-controller="Store" class="btn btn-full btn-sm rounded-sm bg-highlight font-800 text-uppercase ">Go To Cart</a>
            </div>

        </div>
    </div>
</div>

<div id="footer-bar" class="footer-bar-5">
    <a asp-action="Index" asp-controller="Home" class="active-nav"><i class="fa fa-arrow-left text-primary"></i><span>Back</span></a>
    <a asp-action="Index" asp-controller="Home" class="active-nav"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Home</span></a>
</div>

@section Scripts{
    <script>
        var tid = localStorage.getItem("tenantId").toString();
        var uid = localStorage.getItem("userId").toString();
        var SellerTid = localStorage.getItem("SellertenantId").toString();
        var SellerUid = localStorage.getItem("SelleruserId").toString();
        var SellerPageId = localStorage.getItem("SellerPageId").toString();
        var DraftItem = [];
        ///////////////////function for buy product///////////
        function buyNow(id) {
            var salePrice = document.getElementById(`SP${id}`).innerHTML;
            var name = document.getElementById(`name${id}`).innerHTML;
            var description = document.getElementById(`D${id}`).innerHTML;
            var qty = document.getElementById(`QTY${id}`).value;
            var plu = document.getElementById(`plu${id}`).innerHTML;
            var sku = document.getElementById(`sku${id}`).innerHTML;
            var barcodeNumber = document.getElementById(`BN${id}`).innerHTML;
            var grandtotal = parseFloat(salePrice) * parseFloat(qty);
            window.location.href = '@Url.ActionLink("BuyNowCheckout", "Store")?sku=' + sku + '&Q=' + qty + '&P=' + salePrice + '&N=' + name + '&GT=' + grandtotal + '&D=' + description ;
            //$.ajax({
            //    /**/
            //    url: 'https://shopalive.p.rapidapi.com/v1/Orders',
            //    /**/
            //    type: "post",
            //    data: JSON.stringify({
            //        "customerID": uid,
            //        "OrderStatus": "Submitted",
            //        "items": [
            //            {
            //                "itemSKU": sku,
            //                "itemName": name,
            //                "description": description,
            //                "salePrice": salePrice,
            //                "adjustedPrice": 0,
            //                "adjustmentType": "",
            //                "qty": qty,
            //                "tax": 0,
            //                "subtotal": 100
            //            }
            //        ],
            //        "grandTotal": grandtotal,
            //        "tax": 0,
            //        "discount": 0,
            //        "delivery": 0,
            //        "netTotal": grandtotal
            //    }),
            //    contentType: "application/json",
            //    headers: {
            //        "x-rapidapi-key": rapidApiKey,
            //        "B2B-TENANT-ID": tid,
            //        "B2B-USER-ID": uid,
            //        "x-rapidapi-host": rapidApiHost
            //    },
            //    success: function (response, status) {
            //        if (status == "success") {
            //            alert("Thnks For Buy Product")
            //        }
            //    },
            //    error: function (error) {
            //        console.log(error)
            //    }
            //});
        }
        //////////////function for add cart product/////////////
        function addToCart(id) {
            var regularPrice = document.getElementById(`RP${id}`).innerHTML;
            var salePrice = document.getElementById(`SP${id}`).innerHTML;
            var name = document.getElementById(`name${id}`).innerHTML;
            var description = document.getElementById(`D${id}`).innerHTML;
            var qty = document.getElementById(`QTY${id}`).value;
            var plu = document.getElementById(`plu${id}`).innerHTML;
            var sku = document.getElementById(`sku${id}`).innerHTML;
            var barcodeNumber = document.getElementById(`BN${id}`).innerHTML;
            var grandtotal = parseFloat(salePrice) * parseFloat(qty);
            $.ajax({
                /**/
                url: 'https://shopalive.p.rapidapi.com/v1/Orders',
                /**/
                type: "post",
                data: JSON.stringify({
                    "customerID": uid,
                    "OrderStatus": "Draft",
                    "items": [
                        {
                            "itemSKU": sku,
                            "itemName": name,
                            "description": description,
                            "salePrice": salePrice,
                            "adjustedPrice": 0,
                            "adjustmentType": "",
                            "qty": qty,
                            "tax": 0,
                            "subtotal": 100
                        }
                    ],
                    "grandTotal": grandtotal,
                    "tax": 0,
                    "discount": 0,
                    "delivery": 0,
                    "netTotal": grandtotal
                }),
                contentType: "application/json",
                headers: {
                    "x-rapidapi-key": rapidApiKey,
                    "B2B-TENANT-ID": tid,
                    "B2B-USER-ID": uid,
                    "x-rapidapi-host": rapidApiHost
                },
                success: function (response, status) {
                    if (status == "success") {
                        alert("Your Product add to cart")
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        $.ajax({
            /**/
            url: 'https://shopalive.p.rapidapi.com/v1/Items/Page/' + SellerPageId,
        /**/
        type: "get",
            contentType: "application/json",
        headers: {
            "x-rapidapi-key": rapidApiKey,
            "B2B-TENANT-ID": SellerTid,
            "B2B-USER-ID": SellerUid,
            "x-rapidapi-host": rapidApiHost
        },
        success: function (res, status) {
            if (status == "success") {

                    ///////////////////Show product list/////////////////////
                    for (var i = 0; i < res.length; i++) {
                        $("#product").append(`
                                <div class="card card-style" id="${i}">
                    <div class="accordion" id="accordion-1">
                        <div class="mb-2">
                            <button class="btn accordion-btn border-0" data-toggle="collapse" data-target="#collapse${i}">
                                <i class="fa fa-cloud color-blue2-dark mr-2"></i>
                                <span class="font-20" id="name${i}">${res[i].name}</span>
                                <i class="fa fa-arrow-down font-10 accordion-icon"></i>

                            </button>
                            <span class="font-20 pl-5 pt-3" id="RP${i}">${res[i].regularPrice}</span>



                            <div id="collapse${i}" class="collapse" data-parent="#accordion-1">
                                <div class="pt-5 pb-2 pl-3 pr-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" style="border-top:none;">SKU :</th>
                                                            <th scope="col" style="border-top:none;" id="sku${i}">${res[i].sku}</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">PLU :</th>
                                                            <th scope="col" id="plu${i}">${res[i].plu}</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Barcode :</th>
                                                            <th scope="col" id="BN${i}">${res[i].barcodeNumer}</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Sale Price :</th>
                                                            <th scope="col" id="SP${i}">${res[i].salePrice}</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Regular Price:</th>
                                                            <th scope="col">${res[i].regularPrice}</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Description :</th>
                                                            <th scope="col" id="D${i}">${res[i].description}</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">
                                                                <div class="float-right mr-3 mb-3 ">
                                                                    <div class="input-style input-style-1 mt-1">
                                                                        <div class="quantity buttons_added">
                                                                           QTY :
                                                                        </div>
                                                                    </div>
                                                                </div></th>
                                                            <th scope="col">
                                                                <div class="float-right mr-3 mb-3 ">
                                                                    <div class="input-style input-style-1 mt-1">
                                                                        <div class="quantity buttons_added">
                                                                            <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" id="QTY${i}"><input type="button" value="+" class="plus">
                                                                        </div>
                                                                    </div>
                                                                </div></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">
                                                                <div class="float-right mr-3 mb-3 ">
                                                                    <div class="input-style input-style-1 mt-1">
                                                                        <div class="quantity buttons_added addToCart">
                                                                            <button type="button" value="${i}" onclick="buyNow(${i})" class=" btn btn-outline-info">Buy Now</button>
                                                                        </div>
                                                                    </div>
                                                                </div></th>
                                                            <th scope="col">
                                                                <div class="float-right mr-3 mb-3 ">
                                                                    <div class="input-style input-style-1 mt-1">
                                                                        <div class="quantity buttons_added addToCart">
                                                                            <button type="button" value="${i}" onclick="addToCart(${i})" class=" btn btn-outline-info">Add To Cart</button>
                                                                        </div>
                                                                    </div>
                                                                </div></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
                        );
                }



            }
        },
        error: function (error) {
            console.log(error)
        }
        });


    </script>
}