@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
}

@model ShopperOnline.Models.ViewModel.ShowProductVM
<div class="header header-demo header-logo-center  position-fixed d-flex justify-content-around  ">
    <partial name="~/Views/Shared/_Navbar.cshtml" />

</div>
<div class="card card-style " style="margin-top: 5rem;">
    <!-- header and footer bar go here-->
    <div class="page-content">

        <div class="page-title page-title-small">
            <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Videos</h2>
            <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="images/avatars/5s.png"></a>
        </div>
        <div class="card header-card shape-rounded" data-card-height="150">
            <div class="card-overlay bg-highlight opacity-95"></div>
            <div class="card-overlay dark-mode-tint"></div>
            <div class="card-bg preload-img" data-src="images/pictures/20s.jpg"></div>
        </div>

        <div id="vi">
        </div>

    </div>
</div>

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="footer-bar" class="footer-bar-5">
    <a href="index.html"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Home</span></a>
</div>
@section Scripts{
    <script>
        $.ajax({
            url: 'https://graph.facebook.com/@Model.PageId/live_videos?access_token=@Model.AccessToken',
            type: "get",
            contentType: "application/json",
            success: function (res, status) {
                console.log(res);
                if (status == "success") {
                    $(document).ready(function () {
                        for (var i = 0; i < res.data.length; i++) {
                            $("#vi").append(`
                                <div class="row">
                                    ${res.data[i].embed_html}
                                </div>`
                            );
                        }
                    });
                }
            },
            error: function (error) {
                console.log(error)
            }
        });
    </script>
}