@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Personal Information";
}


<div class="header header-demo header-logo-center  position-fixed d-flex justify-content-around  ">
    <partial name="~/Views/Shared/_Navbar.cshtml" />

</div>

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div class="card card-style " style="margin-top: 5rem;">
    <div class="card-header"><h3 class="bolder">Personal Information</h3></div>
    <div class="content mb-0">
        <div class="row">
            <div class="col-12">
                <div class="input-style input-style-2  input-required">
                    <span class="color-highlight">First Name</span>
                    <em>(required)</em>
                    <input class="form-control" type="name" placeholder="">
                </div>
                <div class="input-style input-style-2  input-required">

                    <span class="color-highlight">Last Name</span>
                    <em>(required)</em>
                    <input class="form-control" type="name" placeholder="">
                </div>
                <div class="input-style input-style-2 input-required">
                    <span class="color-highlight">Email</span>
                    <em>(required)</em>
                    <input class="form-control" type="email" placeholder="">
                </div>
                <div class="input-style input-style-2 input-required">
                    <span class="color-highlight">Phone</span>
                    <em>(required)</em>
                    <input class="form-control" type="tel" placeholder="">
                </div>
                <div class="input-style input-style-1 input-required">
                    <span>Enter your message</span>
                    <em>(required)</em>
                    <textarea placeholder="Enter your message"></textarea>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-m mt-2 mb-4 btn-full bg-green1-dark rounded-sm text-uppercase font-900">Update</a>
    </div>
</div>

<div id="footer-bar" class="footer-bar-5">
    <a asp-action="MyUser" asp-controller="Account" class="active-nav"><i class="fa fa-arrow-left text-primary"></i><span>Back</span></a>
    <a href="index-media.html"><i data-feather="image" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Media</span></a>
    <a href="index.html"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Home</span></a>
    <a href="index-pages.html"><i data-feather="file" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Pages</span></a>
    <a href="index-settings.html"><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Settings</span></a>
</div>